# Default Homebrew MySQL server config
[mysqld]
default-time-zone='+8:00'
# Only allow connections from localhost
bind-address = 0.0.0.0

# tmpdir = /Users/lang/zero-cloud/web-shell/mysql/tmp
# 临时文件夹目录
tmpdir = /Users/lang/zero-cloud/web-zero/vertx-zero-cloud/zone@os/database-os-mysql/tmp
local-infile = 1


# Fix Issue
# max_connections=2048
# Fix Communications link failure
wait_timeout=1814400
max_connections=8192
# wait_timeout=120
interactive_timeout=300


# may change to 2 or 0
# (adjust value here, 50%-70% of total RAM)
innodb_buffer_pool_size=4G
innodb_log_file_size=256M
innodb_flush_log_at_trx_commit=2
innodb_flush_method=O_DIRECT
# (Set Batch)
max_allowed_packet = 256M
# log_slow_queries=/Runtime/mysql/slowquery.log
log-output=FILE
general-log=1

# Event日志
general_log_file=/Users/lang/zero-cloud/web-zero/vertx-zero-cloud/zone@os/database-os-mysql/logs/mysql-event.log
slow-query-log=1
slow_query_log_file="mysql-event.log"

# SQL 8.0
validate_password.policy=LOW
validate_password.length=6
# SQL MODE
sql_mode=NO_ENGINE_SUBSTITUTION

# 日志目录
# log=/Users/lang/zero-cloud/web-zero/vertx-zero-cloud/zone@os/database-os-mysql/logs/mysqld.log
# dataDir=/Users/lang/zero-cloud/web-zero/vertx-zero-cloud/zone@os/database-os-mysql/data
# long_query_time=10
# default-time_zone='GMT'
[client]
user=zero
password="xxxxxxxx"
